.each-team-container {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #ffffff33;
  border: 1px solid #ffffff;
  width: 43%;
  margin: 8px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
}
.list {
  display: flex;
  align-items: center;
}
.team-img {
  height: 150px;
  width: 150px;
  margin-right: 10px;
}
.team-name {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  font-family: 'Bree Serif';
}
@media (max-width: 767px) {
  .team-img {
    height: 50px;
    width: 50px;
    margin-right: 4px;
  }
  .team-name {
    font-size: 12px;
  }
}
