.latest-match-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: #ffffff;
  border-radius: 8px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Bree Serif';
}
.competing-team-logo {
  width: 20%;
}
.details1-container {
  width: 30%;
}
.details2-container {
  text-align: right;
  width: 30%;
}
.competing-team {
  font-weight: 500;
  font-size: 44px;
}
.date {
  font-size: 24px;
}
.head {
  font-size: 20px;
  font-weight: 400;
}
.sub {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .latest-match-container {
    flex-wrap: wrap;
  }
  .details1-container {
    width: 60%;
  }
  .details2-container {
    text-align: left;
    width: 100%;
  }
  .competing-team-logo {
    width: 35%;
  }
  .competing-team {
    font-size: 32px;
  }
  .date {
    font-size: 20px;
  }
}
